.fieldSet{
    padding: 20px;
    max-width: fit-content
}

.operator{
    display: flex;
}

.operators{
    padding: 10px;
    background-color: beige;
    font-size: 10px;
    border: none;
    margin: 0px 5px;
    cursor: pointer;
    transition: .2s;
}
:hover.operators{
    background-color: rgb(0, 247, 255);
    color: blue;
    transform: scale(1.3);
}
